*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}

.header{
    position: relative;
    background-color: rgb(248, 240, 230);
}

.nav-large{
    display: none;
}

.nav-mobile{
    display: none;
    
}

.mobile-nav{
    position: absolute;
    right: 0%;
}
.mobile-nav .fa-solid{
    padding: 2rem;
    font-size: 1.5rem;
}
.large-nav img{
    height: 8rem;
    width: 10rem;
    border-radius: 55%;
    margin-top: 5rem;
    background-color: rgb(228, 176, 176);
}

.large-nav{
    display: flex;
    justify-content: center;
}
.title-text{
    text-align: center;
    margin-top: 2rem;
    color: black;
    
}
.description{
    text-align: center;
    padding: 2rem;
    font-size: larger;
}
.title .button{
    font-size: 25px;
    color: whitesmoke;
    background-color: rgb(131, 42, 42);
    padding: 7px;
    margin: 0 auto;
    outline: none;
    border: none;
    cursor: pointer;
    
    
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/*media query for tablet*/

@media (min-width: 768px) {
    .header{
        background-color: rgb(213, 213, 226);
        position: relative;
    }
    .nav-large{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        position: absolute;
        right: 0%;
        font-size: larger;
        font-weight: bolder;
        gap: 0.5rem;
    }

    .mobile-nav .fa-solid{
        display: none;
    }
    .nav-large li a{
        color: black;
        text-decoration: none;
        font-size: larger;
    }   
}
